.cardHeader{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  >div{
    flex: 1 1 auto;
    font-weight: 700;
    font-family: Inter;
    font-size: 24px;
    line-height: 29.05px;
    display: flex;
    justify-content: center;
    @media (max-width: 500px) {
      justify-content: start;
    }
  }
  padding: 20px 0;
  &__title{
    text-align: start;
    @media (max-width: 500px) {
      order: 1;
    }
  }
  &__cart{
    @media (max-width: 500px) {
      order: 2;
    }
  }
  &__logo{
    @media (max-width: 500px) {
      order: 3;
    }
  }
}