.contentData{
  max-width: 453px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0;
  &__price{
    font-weight: 600;
    font-size: 32px;
  }
  &__symbol{
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
  }
}