.cardContent__media{
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 900px) {
    width: 400px;
    gap: 10px;
  }
  @media (max-width: 710px) {
    width: 330px;
    gap: 10px;
  }
  @media (max-width: 662px) {
    width: 100%;
  }
}

.cardContent__media-variants{
  display: flex;
  padding: 0 30px;
  gap:30px;
  @media (max-width: 900px) {
    padding: 0 10px;
    gap:10px;
  }
  @media (max-width: 662px) {
    justify-content: space-around;
  }
}

.cardContent__active{
  margin-bottom: 30px;
}