.data__colors{
  display: flex;
  align-items: center;
  gap: 20px;
}

.colors__title{

}

.colors__color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: aliceblue ;
}

.colors__color_grey-dark{
  background-color: #39393A;
}

.colors__color_grey{
  background-color: #B9B3B0;
}

.colors__color_blue{
  background-color: #5D70CE;
}

.colors__color_orange{
  background-color: #FF9200;
}

.colors{
  display: flex;
  gap: 10px;
}