.dataSlider{
  &__header{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
    padding-bottom: 4px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c2c2c2;
  }
}

.header{
  &__link{
    font-weight: 400;
    font-size: 14px;
    &:hover{
      cursor: pointer;
    }
    &_active{
      font-weight: 700;
    }
  }
}